# List of potential virtual environment folders
ENV_DIRS=(".venv" "venv" ".env" "env")

# Search for and activate the first available virtual environment
for dir in "${ENV_DIRS[@]}"; do
  if [[ -d "$dir" && -f "${dir}/bin/activate" ]]; then
    source "${dir}/bin/activate"
    break
  fi
done

# Unset PS1 if you don't want the virtual environment to modify your prompt
unset PS1