# List of potential virtual environment folders
VENV_DIRS=(".venv" "venv")
ENV_FILES=(".env" "env")
ENVRC_LOCAL_FILES=(".envrc.local" "envrc.local")

# Search for and activate the first available virtual environment
for dir in "${ENV_DIRS[@]}"; do
  if [[ -d "$dir" && -f "${dir}/bin/activate" ]]; then
    source "${dir}/bin/activate"
    break
  fi
done

# Load environment variables from .env files if they exist
for env_file in "${ENV_FILES[@]}"; do
  if [[ -f "$env_file" ]]; then
    dotenv "$env_file"
  fi
done

# Load and execute .envrc.local files if they exist
for envrc_local_file in "${ENVRC_LOCAL_FILES[@]}"; do
  if [[ -f "$envrc_local_file" ]]; then
    source "$envrc_local_file"
  fi
done

# Unset PS1 if you don't want the virtual environment to modify your prompt
unset PS1
